/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
     
  color: #303030;               /* tekstkleur donkergrijs */
  background-image: url("afbeeldingen/groen.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;      /* standaard marge 0 */

}

/* Indeling voor alle pagina's */

.boxbody{
  width:auto;
  height:100%;
  /*border:solid blue;
  border-radius:10px;*/
}

.boxnav {
  width: auto;                   /* vaste breedte van 700 pixels */
  /*border:solid red;
  border-radius:40px;*/
}

.boxlinks{
  
  width:930px;
  height: 780px;
  /*border:solid red;
  border-radius:20px;*/
  float:left;
  margin-left:10px;
  margin-top:20px;
}

.boxrechts{
  width:930px;
  height: 780px;
  /*border:solid red;
  border-radius:40px;*/
  float:right;
}

.boxmidden {
 /*border: solid 20px red;*/
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content: center;
}

main {                       
  text-align: justify;           /* tekst uitvullen */
}
  
h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
  
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin:auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav ul li {
}

nav li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  transition: 2s;
}

nav li a:hover {
    font-size: 160%;
  transition: 0.5s;
}

nav li a.active {
  text-decoration: underline;
  text-decoration-color: mediumseagreen;
}

/* Id's + classes*/
#hoofdtitel {
  transition-duration: 2s;
  font-size:200%;
  color:black;
  text-shadow:2px 2px lime;
  background-image: radial-gradient(lightblue,green);
}

.tekst{
  color: white;
  font-size: 25px;
  text-align: center;
  text-shadow: 4px 2px black;
}

.tlex{
  width: 840px;
  height: 520px;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
}

.spino{
  width: 800px;
  height:420px;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  
}

.Pic1 {
  width:800px;
  height: 600px;
  margin-top:30px;
  margin-left:100px;
 }

@keyframes Dino{
  0%{left:-5vw; top:0px;}
  
  100%{left:105vw; top:0px;}
}

.animation{
  width:230px;
  height:230px;
  position:relative;
  animation-name:Dino;
  animation-duration:9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gif{
  width: 220px;
  height:220px;
}

.strook{
  background-color:white;
  border:solid 2px red;
  width:100%;
  height:230px;
  
}

#deco{
  color: red;
  text-decoration: underline dotted;
  text-decoration-thickness: 3px ;
}

